.menu {
display:none;
}
.content{
width:100%;
height:600px;
margin:0px auto;
background:#EEEEEE;
}
.content_top{
width:1170px;
height:46px;
background:#F4F4F4;
margin:0px auto;
padding-left:20px;
}
.content_top span{
font-size:12px;
color:#666;
display:inline-block;
height:14px;
margin-top:20px;
}
.content_top a{
color:#666;
}
.content_main{
width:1190px;
height:542px;
background:white;
margin:0px auto;
}
.content_main .left{
width:965px;
height:542px;

float:left;
}
.content_main .left .pic{
width:300px;
height:400px;
margin-left:80px;
margin-top:20px;
float:left;
}
.content_main .left .pic img{
width:300px;
height:370px;
}
.content_main .left .inform{
width:500px;
height:400px;
float:left;
margin-left:30px;
margin-top:20px;
}
.content_main .right{
width:200px;
height:160px;
border:1px dotted #ccc;
float:right;
margin-top:120px;
}
.content_main .right img{
width:90px;
height:60px;
margin-left:50px;
margin-top:20px;
}
.content_main .right h4{
margin-top:30px;
text-align:center;
width:200px;
height:37px;
}

.inform .p-tit {
font: normal 18px/1.5 "Microsoft Yahei",Verdana,simsun,serif;
color: #000;
margin-bottom: 20px;
}
.inform .p-miao-mark em{
display:inline-block;
vertical-align:top;
width:78px;
height:28px;
line-height:28px;
text-align:center;
color:#e5004f;
font-style: normal;
font-weight: 400;
}
.p-miao-mark i {
display: inline-block;
width: 40px;
height: 36px;
vertical-align: top;
margin-right: 5px;
background:url(../images/miao-cat-max.png) 0 0 no-repeat;
background-size: 100%;
}
.YTPrice{
height: 25px;
line-height: 25px;
vertical-align: middle;
font-size: 14px;
margin-bottom: 15px;
margin-top:10px;
}
.YTPrice strong{
color: #e5004f;
font-size: 24px;
vertical-align: baseline;
display: inline-block;
}
.YTPrice .discount{
background: #d4bd8a;
color: #fff;
width: 44px;
height: 20px;
line-height: 20px;
text-align: center;
margin-top: 2px;
vertical-align: top;
display: inline-block;
font-style: normal;
}
.marketPriceNum {
line-height: 15px;
padding: 5px 0;
font-size: 14px;
color: #999;
}
.marketPriceNum .mk-num{
text-decoration: line-through;
border:1px solid #ccc;
width:70px;
height:20px;
display:inline-block;
}
.productSKU {
width: 475px;
position: relative;
height:140px;
margin-top:20px;
}
.productSKU dl{
overflow: hidden;
width: 475px;
float: left;
margin-top: 5px;
font-size:13px;
}
.productSKU dl dt{
float:left;
color:#999;
line-height:20px;
width:100px;
}
.productSKU dl dd {
float: left;
overflow: hidden;
width: 370px;
display: block;
-webkit-margin-start: 40px;
}
.productSKU .selected {
position: relative;
}
.productSKU .item {
margin: 0 5px 5px 30px;
display: inline-block;
}
.productSKU .selected b {
position: absolute;
bottom: 0;
right: 0;
width: 10px;
height: 10px;
border:1px solid #ccc;
overflow: hidden;
background: url(../images/icon.png) no-repeat 0 -240px;
display:none;
}
.productSKU .selected a {
border: 2px solid #e5004f;
padding: 3px;
text-decoration: none;
display: inline-block;
white-space: nowrap;
height: 30px;
line-height: 30px;
background: #fff;
cursor: pointer;
color: #000;
width: auto;
}
.productSKU .item span {
display:inline-block;
font-size: 12px;
color: #000;
vertical-align: middle;
white-space: nowrap;
height:30px;
line-height: 30px;
margin-bottom:22px;
}
.item a {
border: 1px solid #ccc;
padding: 4px;
display: inline-block;
white-space: nowrap;
height: 30px;
line-height: 30px;
background: #fff;
cursor: pointer;
color: #000;
width: auto;
}
.item .white:hover {
border: 1px solid #e5004f;
text-decoration: none;
}
.selSize {
line-height: 25px;
}
.selSize .item span{
text-align: center;
width: 40px;
height: 2px;
line-height: 6px;
margin-left: 1px;
margin-top: 11px;
font-size: 14px;
}
.p-buy{
width:475px;
height:50px;
margin-top:20px;
}
.p-buy .p-num{
width:90px;
height:40px;
float:left;
border:1px solid #ccc;
}

.num{
float:left;
}
#buynum{
width: 50px;
height: 36px;
line-height: 36px;
background-color: #fff;
vertical-align: middle;
text-align: center;
font-size: 22px;
color: #000;
vertical-align: bottom;
}
.anniu{
width:35px;
height:38px;
float:left;
}
.anniu a{
width: 35px;
height: 19px;
line-height: 19px;
font-size: 20px;
overflow: hidden;
color: #ddd;
display: block;
text-align: center;
vertical-align: middle;
}
.p-num-add{
background: url(../images/icon.png) no-repeat 0px -157px;
}
.p-num-add:hover{
background: url(../images/icon.png) no-repeat -38px -157px;
}
.p-num-red{
background: url(../images/icon.png) no-repeat 0px -176px;
}
.p-num-red:hover{
background: url(../images/icon.png) no-repeat -38px -176px;
}
.buycar{
width:320px;
height:40px;
float:left;
margin-left:10px;
}
.buycar a{
width:150px;
height:40px;
display:inline-block;
border:1px solid #ccc;
}
.buynow{
background: url(../images/button_v2.png) no-repeat 0px -560px;
}
.buynow:hover{
background: #e5004f url(../images/button_v2.png) 0 -600px no-repeat;
}

.incar{
background: url(../images/button_v2.png) 0px 0px no-repeat
}
.incar:hover{
background: url(../images/button_v2.png) 0px -40px no-repeat
}
