a:hover{
color:red;
}
.menu{
display:none;
}
.hezi{
width:100%;
height:500px;
background:#EEEEEE;
border:1px solid #EEEEEE;
}
.container{
width:980px;
height:300px;
border:1px solid #ccc;
margin:70px auto;
}
.CommodityCate{
width:980px;
height:30px;
background:#666666;
}
.CommodityCate input{
margin: 9px 3px 3px 20px;
}
.CommodityCate span{
float: left;
line-height: 30px;
text-align: left;
font-weight: 700;
overflow: hidden;
color: #fff;
font-size:12px;
display:inline-block;
height:30px;
}
.th-chk{
width:130px;
}
.th-item{
width:372px;
}
.th-price{
width:130px;
}
.th-amount{
width:126px;
}
.th-sum{
width:90px;
}
.th-op{
width:90px;
}
.CommodityBox{
width:980px;
/*height:120px;*/
/*border:1px solid #ccc;*/
}
.CommodityBox:after{
content:"";
display:block;
clear:both;

}
.CommodityBox h5{
width:977px;
height:30px;
line-height:30px;
text-indent:20px;
border:1px solid #ccc;
}

.product{
width:980px;
height:80px;
padding-top:10px;
background:#F9F9F9;
}

.xuanze1{
width:20px;
height:20px;
margin-left:20px;
margin-top:15px;
float:left;
}
.pro-img{
width:40px;
height:60px;
float:left;
margin-left:20px;
margin-top:5px;
}
.pro-img img{
display:inline-block;
width:40px;
height:60px;
}
.pai{
width:328px;
height:60px;
float:left;
margin-top:5px;
margin-left:20px;
}
.pai1{
width:328px;
height:19px;
color:red;
}
.pai2{
width:328px;
height:19px;
margin-top:15px;
}
.pai2 span{
margin-right:10px;
}
.pai2 .mashu{
width:50px;
height:19px;
display:inline-block;
}
.pro-price{
width:130px;
height:20px;
margin-top:25px;
float:left;
}
.category{
width:100px;
height:20px;
float:left;
margin-top:25px;
margin-left:10px;
}
.th-amount{
width:70px;
height:20px;
border:1px solid #ccc;
}
.category input{
width:30px;
height:16px;
margin-left:18px;
text-align:center;
}
.category a {
position: absolute;
width: 16px;
height: 18px;
line-height: 18px;
overflow: hidden;
background-color: #eee;
color: #666;
}
.th-sum1{
width:90px;
height:20px;
margin-top:25px;
float:left;
text-align:center;
}
.delete{
width:90px;
height:20px;
float:left;
margin-top:25px;
margin-left:20px;
text-align:center;
}
.delete a{
font-size:12px;
}
.PayofTable{
width:980px;
height:100px;
margin: auto;
border:1px solid #ccc;
background:#EEEEEE;;
}
.PayofOne{
width:900px;
height:24px;
margin:20px auto;
}
.RegretOption{
width:500px;
height:24px;
font-size:12px;
float:left;
}
.th-chk{
width:61px;
height:24px;
float:left;
margin-left:20px;
line-height:20px;
}
.th-chk input{
margin-top:5px;
display:inline-block;
}
.RegretOption a{
line-height:24px;
width:100px;
display:inline-block;
}
.TipTure{
float:right;
width:220px;
height:24px;
}
.amount{
width:200px;
height:30px;
line-height:30px;
border:1px solid #ccc;
float:right;
color: red;
background:pink;
}
input{
outline: none;
}