*{ margin:0;
padding:0; }
li{
list-style:none;

}
a{
text-decoration:none;
color:black;
}

/*头部*/
.head{
width:100%;
height:195px;
}

/*hdtop*/
.hdtop{
width:100%;
height:35px;
margin:0 auto;
background:#EEEEEE;
}
.hdtop a:hover{
color:red;
}
.hdtop-ul1{
width:290px;
height:35px;
/*background:pink;*/
margin-left:50px;
float:left;

}
.hdtop-ul1 li{
width:80px;
height:35px;
line-height:35px;
margin-left:5px;
float:left;
/*background:yellow;*/
text-align:center;
font-size:10px;
}
.hdtop-ul1 a{
width:85px;
height:35px;
display:block;
}

.hdtopa1 span{
display: inline-block;
height: 25px;
width: 108px;
background: url(../images/header-02.png) -220px 2px no-repeat;
text-align: center;
line-height: 25px;
}
.hdtopa1 span:hover{
background: url(../images/header-02.png) -220px -25px no-repeat;
}
.hdtop-ul1 b{
width: 17px;
height: 7px;
display: inline-block;
transition:all 1s;
background: url(../images/header-02.png) -170px -110px no-repeat;
/*-webkit-transition: -webkit-transform .2s ease-in 0s;*/
}
.hdtop-ul1 b:hover{
transform:rotate(360deg);
background: url(../images/header-02.png) -170px -127px no-repeat;
/*-webkit-transition: -webkit-transform .2s ease-in 0s;*/
}

.hdtopa2 span{
display: inline-block;
height: 25px;
width: 108px;
background: url(../images/header-02.png) -217px -55px no-repeat;
text-align: center;
line-height: 25px;
}
.hdtopa2 span:hover{
background: url(../images/header-02.png) -217px -85px no-repeat;
}
.hdtopa3 span{
display: inline-block;
height: 24px;
width: 108px;
background: url(../images/phone.png) 5px 4px no-repeat;
text-align: center;
line-height: 27px;
}
.hdtopa3 span:hover{
background: url(../images/phone.png) 5px -20px no-repeat;
line-height: 19px;
}
.hdtop-ul1 .shu{
display: inline-block;
width:5px;
height:35px;
color:lightgrey;
}
.weixin{
background:white;
position:absolute;
top:0px;
display:none;
}
.phwx{
background:white;
position:absolute;
top:0px;
display:none;
}
.hdtop-ul2{
width:500px;
height:35px;
margin-right:50px;
float:right;
}
.hdtop-ul2 li {
float:left;
text-align:center;
font-size:10px;
height:35px;
line-height:35px;

}
.hdtop-ul2 li a{
margin:0 8px;
}
.hdtop-ul2 b{
width: 17px;
height: 7px;
display: inline-block;
background: url(../images/header-02.png) -170px -110px no-repeat;
transition:all 1s;
}
.hdtop-ul2 b:hover{
transform:rotate(360deg);
background: url(../images/header-02.png) -170px -127px no-repeat;
}
.hdtop-ul2 p{
border-bottom:1px solid #ccc;
text-align:left ;
}
.hdtop-ul2 .my-yt1{
background:white;
position:absolute;
top:0px;
display:none;
position:absolute;
z-index:3;
}
/*hdmid*/
.hdmid{
width:100%;
height:118px;
border:1px solid white;
}
.hdmid-main{
width:1200px;
height:100px;
margin:20px auto;
}
.hdmid-main .left{
width:225px;
height:80px;
border-right:1px solid lightgrey;
float:left;
}
.hdmid-main .left1{
display:inline-block;
height:80px;
width:120px;
float:left;
margin-left:8px;
}
.hdmid-mid{
width:500px;
height:70px;
float:left;
margin:20px 0px 0px 120px;
}
.hdmid-mid1{
width:490px;
height:33px;
border:2px solid black;
}
#text{
width:430px;
height:30px;
border:1px solid white;
}
#search{
width:46px;
height:30px;
line-height:30px;
border:2px solid black;
background: url(../images/header-02.png) 0px -77px no-repeat;
}
.hdmid-mid ul{
width:400px;
height:20px;
}
.hdmid-mid ul li{
float:left;
font-size:10px;
}
.hdmid-mid ul li a{
margin:0px 5px;
color:red;
}
.hdmid-mid ul li a:hover{
text-decoration:underline;
color:red;
}
.hdmid-mid .floor{
color:black;
}
.hdmid-right{
border: 3px solid black;
width: 160px;
height: 31px;
float: left;
font-size: 13px;
margin: 20px 0px 0px 30px;
line-height: 30px;
text-align: center;
color: white;
background: url(../images/header-02.png) -55px -79px no-repeat;
}

.hdmid-right span{
color:red;
width:10px;
height:35px;
font-size:20px;
}
.hdmid-right b{
width: 22px;
height: 7px;
margin-right: -40px;
display: inline-block;
background: url(../images/header-02.png) -183px -109px no-repeat;
}
.hdbom{
width:100%;
height:40px;
}
.hdbom-main{
width:1200px;
height:40px;
margin:0px auto;
}
.kinds{
width:210px;
height:40px;
line-height:40px;
background:black;
color:white;
text-align:center;
font-size:18px;
float:left;
}
.kinds-ul1 a:hover, .kinds-ul2 a:hover{
color:red;
}
.kinds-ul1{
width:410px;
height:40px;
float:left;
margin-left:20px;
}
.kinds-ul1 li{
float:left;
line-height:40px;
height:37px;
}
.kinds-ul1 li:hover{
border-bottom:3px solid red;
}
.kinds-ul1 li a{
margin:0px 25px;
}
.kinds-ul2{
width:150px;
height:40px;
float:right;
}
.kinds-ul2 li{
float:left;
line-height:40px;
height:40px;
font-size:14px;
margin-left:5px;
}
.menu {
width:210px;
height:470px;
background:black;
position:relative;
z-index:3;
}
.menu ol li{
width:210px;
height:45px;
border:1px solid #ccc;

}
.menu ol li a{
color:white;
font-size:16px;
height:45px;
line-height:45px;
}
.menu ol li:hover{
background:#e4004f;
}
.menu ol li .min{
font-size:12px;
}
.menu ol li .b1{
position: absolute;
left: 20px;
top: 2px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s1{
position:absolute;
right: 5px;
top:2px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b2{
position: absolute;
left: 20px;
top: 50px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s2{
position:absolute;
right: 5px;
top:50px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}

.menu ol li .b3{
position: absolute;
left: 20px;
top: 97px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s3{
position:absolute;
right: 5px;
top:97px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}

.menu ol li .b4{
position: absolute;
left: 20px;
top: 144px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s4{
position:absolute;
right: 5px;
top:144px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b5{
position: absolute;
left: 20px;
top: 190px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s5{
position:absolute;
right: 5px;
top:190px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b6{
position: absolute;
left: 20px;
top: 236px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s6{
position:absolute;
right: 5px;
top:236px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b7{
position: absolute;
left: 20px;
top: 283px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s7{
position:absolute;
right: 5px;
top:283px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b8{
position: absolute;
left: 20px;
top: 331px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s8{
position:absolute;
right: 5px;
top:331px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b9{
position: absolute;
left: 20px;
top: 380px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}
.menu ol li .s9{
position:absolute;
right: 5px;
top:380px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}
.menu ol li .b10{
position: absolute;
left: 20px;
top: 426px;
border: 1px solid #ccc;
width: 22px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) 6px -97px no-repeat;
}

.menu ol li .s10{
position:absolute;
right: 5px;
top:426px;
border: 1px solid #ccc;
width: 21px;
height: 30px;
display: inline-block;
background: url(../images/header-02.png) -196px -95px no-repeat;
}

/*底部*/
/*服务*/
.service{
width:1190px;
height:90px;
margin:50px auto;
}
.service p{
float:left;
height:90px;
width:293px;
border:1px solid #ccc;
text-align:center;
}
.service .sp1 strong{
display: inline-block;
padding: 20px 20px 0 50px;
font-size: 20px;
font-family: Arial;
color: #e5004f;
background: url(../images/footer-01.png) 30px 19px no-repeat;
}
.service .sp1 i{
font-style: normal;
font-size:10px;
}
.service .sp1 b{
padding-left: 24px;
font-size: 14px;
font-family: Arial;
color:#ccc;
background: url(../images/footer-01.png) 0 -28px no-repeat;
}
.service .sp2{
background: url(../images/footer-01.png) 52px -56px no-repeat;
}
.service .sp2 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:20px;
}
.service .sp2 b{
font-size:12px;
color: #888;
margin-left:30px;
display: inline-block;
}
.service .sp2 i{
color:red;
}
.service .sp3 i{
color:red;
}
.service .sp4 i{
color:red;
}
.service .sp3{
background: url(../images/footer-01.png) 52px -132px no-repeat;
}
.service .sp3 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:20px;
}
.service .sp3 b{
font-size:12px;
color: #888;
margin-left:30px;
display: inline-block;
}
.service .sp4{
background: url(../images/footer-01.png) 52px -203px no-repeat;
}
.service .sp4 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:20px;
}
.service .sp4 b{
font-size:12px;
color: #888;
margin-left:30px;
display: inline-block;
}
.end .relative{
width:1190px;
height:20px;
margin:30px auto;
text-align:center;
}
.end .relative a{
display:inline-block;
margin-right:10px;
font-size:12px;
}
.end .copyright p{
text-align:center;
ine-height: 22px;
color: #b2b2b2;
font-size:12px;
margin-bottom:10px;
}
.end .copyright a{
color: #b2b2b2;
}
.end .web-pic{
width:1190px;
height:50px;
margin:20px auto;
text-align:center;
}
.end .web-pic a{
margin-right:20px;
}
input{
outline: none;
}
