*{ margin:0;
padding:0; }
li{
list-style:none;
}
a{
text-decoration:none;
color:black;
}
/*头部*/
.head{
width:100%;
height:76px;
margin:20px 0px;
}
.hemain{
width:1190px;
height:76px;
margin:0px auto;
}
.hemain .logo{
width:215px;
height:76px;
float:left;
}
.service{
width:540px;
height:76px;
float:right;
}
.service p{
float:left;
height:76px;
width:178px;
text-align:center;
}
.service .sp2{
background: url(../images/footer-01.png) -2px -54px no-repeat;
}
.service .sp2 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:20px;
}
.service .sp2 b{
font-size:12px;
color: #888;
margin-left:30px;
display: inline-block;
}
.service .sp2 i{
color:red;
}
.service .sp3 i{
color:red;
}
.service .sp4 i{
color:red;
}
.service .sp3{
background: url(../images/footer-01.png) 5px -130px no-repeat;
}
.service .sp3 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:20px;
}
.service .sp3 b{
font-size:12px;
color: #888;
margin-left:30px;
display: inline-block;
}
.service .sp4{
background: url(../images/footer-01.png) 0px -203px no-repeat;
}
.service .sp4 strong{
display: block;
font-size: 16px;
font-weight: 400;
color: #000;
margin-top:30px;
margin-left:40px;
}
.service .sp4 b{
font-size:12px;
color: #888;
margin-left:44px;
display: inline-block;
}
/*主体*/
.main{
width:100%;
height:570px;
background:#F1F1F1;
border:1px solid #F1F1F1;
}
.main .inner{
width:1190px;
height:460px;
margin:55px auto;
}
.main .inner .left{
width:780px;
height:460px;
overflow:hidden;
float:left;
}
.main .inner .right{
width:320px;
height:460px;
background:white;
float:right;
}
/*底部*/
.end .relative{
width:1190px;
height:20px;
margin:30px auto;
text-align:center;
}
.end .relative a{
display:inline-block;
margin-right:10px;
font-size:12px;
}
.end .copyright p{
text-align:center;
ine-height: 22px;
color: #b2b2b2;
font-size:12px;
margin-bottom:10px;
}
.end .copyright a{
color: #b2b2b2;
}
.end .web-pic{
width:1190px;
height:50px;
margin:20px auto;
text-align:center;
}
.end .web-pic a{
margin-right:20px;
}
input{
outline: none;
}


