.hemain .regster{
width:124px;
height:24px;
float:left;
margin-top:50px;
margin-left:2px;
background:url(../images/header-login.png) 10px -23px no-repeat;
}
.main .right .top{
width:320px;
height:46px;
line-height:46px;
text-align:center;
background:#E5004F;
color:white;
border-radius:5px;
}
.content{
width:280px;
height:391px;
margin:0px auto;
border:1px solid white;
}
.content .p1{
width:280px;
height:20px;
font-size:12px;
text-align:right;
margin:15px 0px;
}
.content .p1 span{
color: red;
}
.content .p2 input{
display:inline-block;
width:276px;
height:42px;
font-size:14px;
border:1px solid #ccc;
}
.content .user{
width:280px;
height:24px;
}
.content .p3{
width:280px;
height:24px;
line-height:24px;
color:red;
font-size:12px;
/*display:none;*/
}
.content .p30{
width:280px;
height:24px;
line-height:24px;
color:darkgrey;
font-size:12px;
}
.content .p4 input{
display:inline-block;
width:276px;
height:42px;
font-size:14px;
border:1px solid #ccc;
}
.content .zuhe{
width:280px;
height:24px;
}
.content .p50{
width:280px;
height:24px;
line-height:24px;
color:darkgrey;
font-size:12px;
}
.content .p5{
width:280px;
height:24px;
line-height:24px;
color:red;
font-size:12px;
display:none;
}
.content .chongfu{
width:280px;
height:24px;
}
.content .p551{
width:280px;
height:24px;
line-height:24px;
color:darkgrey;
font-size:12px;
}
.content .p55{
width:280px;
height:24px;
line-height:24px;
color:red;
font-size:12px;
display:none;
}
.content .p44 input{
display:inline-block;
width:276px;
height:42px;
font-size:14px;
border:1px solid #ccc;
}
.content .p55{
width:280px;
height:24px;
line-height:24px;
color:red;
font-size:12px;
}
.content .code .p6 input{
display:inline-block;
width:112px;
height:42px;
font-size:14px;
border:1px solid #ccc;
}
.content .yanzheng{
width:280px;
height:24px;
}
.content .p70{
width:280px;
height:24px;
line-height:24px;
color:darkgrey;
font-size:12px;
}
.content .p7{
width:280px;
height:24px;
line-height:24px;
color:red;
font-size:12px;
display:none;
}
.content .p8{
font-size:12px;
font-weight:400;
width:280px;
height:24px;
line-height:24px;
}
.content .p8 input{
vertical-align: middle;
margin-top:-3px;
}
.content .p8 a{
color:red;
}
.content input{
background:#F5F5F5;
}
.content button{
width:280px;
height:40px;
line-height:40px;
color:white;
background:#E5004F;
font-size:16px;
margin-top:10px;
border:1px solid #E5004F;
border-radius:5px;
}
input{
outline: none;
}